* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 20vw;
  border-bottom-right-radius: 30px;
}

.-ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
}

.Shopping-cart {
  flex-direction: row;
  flex: auto;
}

a {
  display: inline-block;
  flex-direction: row;
  width: auto;
  text-decoration: none;
}

.scroll-container {
  width: auto;
  height: auto;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 100%;
}

h2 {
  height: 10vh;
  width: 90%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  background: #dfeef5;
  background: linear-gradient(
    90deg,
    rgba(223, 238, 245, 1) 0%,
    rgba(212, 231, 238, 1) 100%
  );
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
  overflow-y: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container section {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-margin-left: 100px;
}

.container section:nth-of-type(1) {
  background-color: antiquewhite;
}
.container section:nth-of-type(2) {
  background-color: aquamarine;
}
.container section:nth-of-type(3) {
  background-color: blueviolet;
}
